*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-reg{
    max-width: 500px;
    border: solid 1px silver;
    margin: auto;
    padding: 52px 100px 50px;
    border-bottom: solid 10px #46a358;
}
h1{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    margin-bottom: 40px;
}
h1 span{
    color: #46a358;
}
.form_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}
input{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 16px;
}
.conf_pass{
    margin-bottom: 41px;
}
form button{
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background: #46a358;
    border:1px solid #46a358;
    padding: 16px 118px;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
.text_reg_with{
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 27px
}
.link_google{
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    gap: 9px; border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    padding: 10px 0;
    text-decoration: none;
}
.link_fb{
    width: 100%;
    display: flex;
    margin-top: 27px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    padding: 10px 0;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header{
    padding-top: 30px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    gap: 50px;
}