
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.container-reg{
    max-width: 500px;
    border: solid 1px silver;
    margin: auto;
    padding: 52px 100px 50px;
    border-bottom: solid 10px #46a358;
}
.log-reg{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    margin-bottom: 40px;
}
.log-reg span{
    color: #46a358;
}
.form_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}
input{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 16px;
}
.conf_pass{
    margin-bottom: 41px;
}
form button{
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background: #46a358;
    border:1px solid #46a358;
    padding: 16px 118px;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
.text_reg_with{
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 27px
}
.link_google{
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    gap: 9px; border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    padding: 10px 0;
    text-decoration: none;
}
.link_fb{
    width: 100%;
    display: flex;
    margin-top: 27px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    padding: 10px 0;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.bg-color-gray{
    background-color: #F5F5F5;
}
.flex-wrap{
    flex-wrap: wrap;
}

header{
    padding-top: 30px;
    padding-bottom: 12px;
}
header .container{
    height: 53px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
header nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
header nav{
    margin-top: 8px;
}
header nav ul a{
    text-decoration: none;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header nav ul li:hover:after{
    width: 100%;
    height: 2px;
    background-color: #46a358;
    display: inline-block;
    content: "";
}
header nav ul li:hover a{
    font-weight: bold;
}
.login{
    font-family: 'cera_proregular';
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    height: 35px;
    background: #46a358;
    border: none;
    padding: 17px 17px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.left-hero{
    padding-left: 40px;
}
.hero-img{
    max-width: 507px;
    height: 450px;
}
.hero-title{
    font-family: 'cera_probold';
    text-align: left;
    margin-top: 7px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}
.hero-title span{
    color: #46a358;
}
section{
    background-color: white;
}
.hero-section{
    margin-bottom: 26px;
}
.info{
    font-family: 'cera_proregular';
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}
h3{
    font-family: 'cera_promedium';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-top: 68px;
    display: flex;
}
.button-shop{
    font-family: 'cera_probold';
    border-radius: 6px;
    margin-top: 44px;
    height: 40px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    padding: 11px 26px;
    text-decoration: none;
}


.leftside{
    max-width: 310px;

}
.leftside .bg-color-gray{
    padding-top: 14px;

}
.leftside .category-title{
    margin-left: 18px;
    text-align: left;
}
.leftside ul{
    margin-bottom: 377px;
    margin-left: 30px;
}
.container-category{
    background-color: #fff;
}
.category-title{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 7px;

    margin-top: 14px;
}
.rightside{
    max-width: 840px;
}
.nav-plants{
    display: flex;
    justify-content: space-between;
}
.nav-plants ul li a:hover{
    font-weight: 700;
    color: #46a358;
    border-bottom: 2px solid #46a358;
}
.leftside ul li{
    list-style: none;

    font-family: 'cera_proregular';
    font-size: 15px;
    line-height: 267%;
    color: #3D3D3D;
}
.leftside ul li:hover{
    font-family: cera_proregular;
    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
    color: #46a358;
    cursor: pointer;
}
.nav-top{
    display: flex;
    gap: 40px;
    list-style: none;
    padding-bottom: 30px;
}
.nav-top li a{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    text-decoration: none;
}
.shortby{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.shortby a{
    text-decoration: none;
    color: #3d3d3d;
}
.card img{
    padding-bottom: 12px;
}
.name{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    padding-bottom: 6px;
}
.price{
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.products-section{
    margin-bottom: 142px;
}
.products{
    display: flex;
    justify-content: space-between;
    gap: 33px;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.card{
    display: inline-block;
    max-width: 258px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #fff;
}
.card:hover{
    border-top: 1px solid #46a358;
    transition: 0.5s;
}
.card ul{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    bottom: -54px;
    left: 0;
    transition: 0.5s;
}
/*
.card ul li a{
    border-radius: 4px;
    width: 35px;
    height: 35px;
    background: #fff;
    padding: 8px 6px;
    justify-content: center;
}
*/

.card:hover ul{
    bottom: 54px;
}
.pagination{
    display: flex;
    justify-content: flex-end;

}
.price-span{
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    text-decoration: line-through;
    padding-left: 16px;
}
.card-discount{
    background: #46a358;
    padding: 7px 9px;
    position: absolute;
    top: 14px;
    font-family: cera_promedium;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
.nav-bottom{
    display: inline-flex;
    list-style: none;
    gap: 10px;

}
.nav-bottom li a{
    display: inline-flex;
    width: 35px;
    height: 35px;
    text-decoration: none;
    font-family: cera_proregular;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;


    color: #3d3d3d;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    justify-content: center;
    align-items: center;
}
.nav-bottom li a:hover{
    background: #46a358;
    font-family: cera_probold;
    font-weight: 700;
    color: #fff;
}
/*
.nav-bottom li:last-of-type a:after{
    display: block;
    content: "";
    background-image: url("../images/Arrow - Right 2.svg");
    width: 18px;
    height: 18px;
}
.nav-bottom li:last-of-type a:hover:after{
    background-image: url("../images/Arrow - Right 2_black.svg");
}
*/
.nav-bottom li a:hover svg path{
    stroke: white;
}
.blog-section{
    background-color: #fff;
    justify-content: space-between;
    gap: 28px;
    margin-bottom: 142px;
}
.flower{
    display: flex;
    max-width: 586px;
    padding-bottom: 45px;
    background: #fbfbfb;

}
.img-flower{
    width: 287px;

    position: relative;
}


.img-flower img{
    width: 287px;

    position: absolute;
    top: -45px;

}


.info-flower{
    padding-top: 37px;
    padding-right: 30px;
    text-align: right;
    padding-left: 50px;

}
.info-flower h4{
    font-family: cera_probold;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;


}
.text-flower{
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;

    margin-top: 9px;
    margin-bottom: 25px;
}
.button-find{

    height: 40px;
    border-radius: 6px;
    background: #46a358;

    font-family: cera_promedium;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    align-items: center;

    display: inline-flex;
    padding-left: 28px;
    padding-right: 28px;
}
.button-find img{
    align-items: center;
    margin-left: 2px;
    margin-top: 1px;
}



.img-flowerstyle{
    width: 289px;
    position: relative;

}
.img-flowerstyle img{
    width: 289px;
    position: absolute;
    top: -45px;

}
.section-posts{
    margin-bottom: 100px;
}
h2{
    font-family: cera_probold;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;

}
.subtitle{
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-top: 15px;

}
.posts{
    display: flex;

    justify-content: space-between;
    margin-top: 35px;
    gap: 42px;

}
.card-blog{
    max-width: 268px;
    height: 362px;
    background: #fbfbfb;
}
.blog-text{
    justify-content: start;
    margin-left: 15px;

}
.blog-text span{
    font-family: cera_promedium;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-top: 8px;
}
h5{
    font-family: cera_probold;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    text-align: start;
    margin-top: 4px;
}
.blog-text p{
    font-family: cera_proregular;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-top: 4px;
}
.blog-text a{
    font-family: cera_promedium;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    margin-top: 9px;
    display: inline-flex;
    align-items: center;
}
.blog-text a img{
    margin-left: 3px;
}
.blog-text a:hover{
    font-family: cera_promedium;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}
.blog-text a:hover svg path{
    fill: #46A358;
}